body
  padding: 30px
  text-align: center

.app
  display: inline-block
  text-align: left
  font-size: 1.5em
  white-space: nowrap

  .card
    .key, .value
      display: inline-block
      vertical-align: top
    .key
      margin-right: .8em
      font-weight: bold

    .field-definition
      margin-bottom: 0
    > .field-definition
      margin-bottom: 1em

    .add
      display: inline-block
      margin-right: 10px

    .from-fields
      padding-bottom: 1em
      border-bottom: 1px solid black

    .to-fields
      padding-top: 1em

      .to-fields-column
        display: inline-block
        vertical-align: top
